.boton{
    background-color: aqua;
    color: blueviolet;
    padding: 10px 20px;
    font-size: 10px;
    border: none;
    border-radius: 8px;
    transition: background-color 0.3s ease-in-out;

}

.boton:hover{
    background-color: blueviolet;
}