
.texto {
    color:red;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    line-height: 1.6;
    text-align: center;
    text-decoration: underline;
    text-transform: capitalize;
    letter-spacing: 1ch;
    word-spacing: 5px;
    white-space: nowrap;
}


.texto1 {
    color:rgb(65, 214, 225);
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    line-height: 1.6;
    text-align: left;
    text-transform: capitalize;
    letter-spacing: 1ch;
    word-spacing: 5px;
    white-space: nowrap;
}


.texto2 {
    color:rgb(220, 47, 255);
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    line-height: 1.6;
    text-align: left;
    text-transform: capitalize;
    letter-spacing: 1ch;
    word-spacing: 5px;
    white-space: nowrap;
}

.texto3 {
    color:purple;
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    line-height: 1.0;
    text-align: left;
    text-transform: capitalize;
    letter-spacing: 1ch;
    word-spacing: 5px;
    white-space: nowrap;
}

.texto4 {
    color:rgb(79, 128, 0);
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    line-height: 1.0;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 1ch;
    word-spacing: 5px;
    white-space: nowrap;
}

.texto5 {
    color:rgb(9, 0, 128);
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    line-height: 1.0;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 1ch;
    word-spacing: 5px;
    white-space: nowrap;
}